<nav class="navbar navbar-expand-lg navbar-dark bg-dark border-bottom">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'dashboard' %}">
      <i class="bi bi-people-fill"></i>
      Cell Project
    </a>
    
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        {% if user.is_authenticated %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
              <i class="bi bi-person-circle"></i>
              {{ user.get_full_name|default:user.username }}
            </a>
            <ul class="dropdown-menu dropdown-menu-end">
              <li><a class="dropdown-item" href="{% url 'profile' %}">
                <i class="bi bi-person"></i> Meu Perfil
              </a></li>
              <li><a class="dropdown-item" href="{% url 'my_cells' %}">
                <i class="bi bi-house-door"></i> Minhas Células
              </a></li>
              <li><hr class="dropdown-divider"></li>
              <li>
                <form method="post" action="{% url 'logout' %}">
                  {% csrf_token %}
                  <button type="submit" class="dropdown-item text-danger">
                    <i class="bi bi-box-arrow-right"></i> Sair
                  </button>
                </form>
              </li>
            </ul>
          </li>
        {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'login' %}">
              <i class="bi bi-box-arrow-in-right"></i> Entrar
            </a>
          </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>