<div class="col-md-3 col-lg-2 d-md-block sidebar collapse show" id="sidebarMenu">
  <div class="position-sticky pt-3">
    <ul class="nav flex-column">
      
      <!-- Dashboard -->
      <li class="nav-item">
        <a class="nav-link active" href="#">
          <i class="bi bi-speedometer2"></i>
          Dashboard
        </a>
      </li>
      
      <!-- Células -->
      <li class="nav-item">
        <a class="nav-link" href="#">
          <i class="bi bi-house-door"></i>
          Células
        </a>
      </li>
      
      <!-- Membros -->
      <li class="nav-item">
        <a class="nav-link" href="#">
          <i class="bi bi-people"></i>
          Membros
        </a>
      </li>
      
      <!-- Visitantes -->
      <li class="nav-item">
        <a class="nav-link" href="#">
          <i class="bi bi-person-plus"></i>
          Visitantes
        </a>
      </li>
      
      <!-- Reuniões -->
      <li class="nav-item">
        <a class="nav-link" href="#">
          <i class="bi bi-calendar-check"></i>
          Reuniões
        </a>
      </li>
      
      <!-- Presenças -->
      <li class="nav-item">
        <a class="nav-link" href="#">
          <i class="bi bi-clipboard-check"></i>
          Presenças
        </a>
      </li>
      
      <!-- Calendário -->
      <li class="nav-item">
        <a class="nav-link" href="#">
          <i class="bi bi-calendar3"></i>
          Calendário
        </a>
      </li>
      
      <!-- Lideranças -->
      <li class="nav-item">
        <a class="nav-link" href="{% url 'leadership_role_list' %}">
          <i class="bi bi-star"></i>
          Lideranças
        </a>
      </li>
      
      <!-- Ministérios -->
      <li class="nav-item">
        <a class="nav-link" href="#">
          <i class="bi bi-building"></i>
          Ministérios
        </a>
      </li>
      
      <hr class="my-3">
      
      <!-- Relatórios -->
      <li class="nav-item">
        <a class="nav-link" href="#">
          <i class="bi bi-graph-up"></i>
          Relatórios
        </a>
      </li>
      
      <!-- Áreas -->
      <li class="nav-item">
        <a class="nav-link" href="#">
          <i class="bi bi-diagram-3"></i>
          Áreas
        </a>
      </li>
      
      <!-- Admin -->
      <li class="nav-item">
        <a class="nav-link" href="#" target="_blank">
          <i class="bi bi-gear"></i>
          Administração
        </a>
      </li>
    </ul>
  </div>
</div>